{{- $s := .Site.Params }}
{{ $t := .Site.Title }}
{{- if or .Params.enableMathNotation $s.enableMathNotation }}
  {{ partialCached "math" . }}
{{- end }}
{{- $iconsDir := default "icons/" .Site.Params.iconsDir }}
{{- $defaultFooterLogo := printf "%s%s" $iconsDir "apple-touch-icon.png"}}
<footer class="footer">
    <div class="footer_inner wrap pale">
        &nbsp;<p><strong>mjcb.io</strong> | <a href="https://mjcb.io/privacy-policy/">Privacy Policy</a> | Copyright © 2018 - 2022 Matthew Burr</p>
        {{- partialCached "top" .}}
    </div>
</footer>
